/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F0F0F0;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.topPadding {
    padding-top: 5%;
}

.topPaddingsm {
    padding-top: 3%;
}

.search {
    display: flex;
}

.no-border {
    border: 0 !important;
}

.no-border:focus {
    box-shadow: none !important;
}

.search-Icon {
    margin-top: 7px;
}

.photo {
    width: 20%;
}

.imageContainer {
    padding: 10px 0px;
}

h6 {
    text-align: right;
}

.formWidth {
    width: 100%;
}

.formData {
    padding: 20px;
}

.formStyle {
    font-size: 14px !important;
    font-weight: 300 !important;
}

.sidebutton {
    display: inline-flex;
}

.matStroke {
    margin-right: 12px !important;
}

.selectFilter {
    align-items: flex-end;
}